#question-box {
    width: 50vw;
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
}

body {

}


.results {
    background: royalblue;
    border: none;
    width: 80%;
    margin-top: auto;
    height: 3rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: larger;
}

li {
    list-style: none;
    
    padding: 5px;
}

input {
    cursor: pointer;
}


.centered  {
   text-align: center;
}